body {
  background: #f4f7f6;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

#reset-button,
#score-display {
  background: none;
  border: none;
  padding: 1em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 50px;
}
#reset-button {
  float: left;
  cursor: pointer;
}
#score-display {
  float: right;
}

.container {
  margin: 50px auto;
  text-align: center;
  background-color: white;
  max-width: 550px;
  border-radius: 14px;
  border: 0.1px solid #d6d5d5;
}

button {
  margin: 0 auto;
}

/* these are the default values for <hr> */
hr {
  display: block;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  color: #9ceade;
  width: 90%;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

#success {
  color: green;
}

#failure {
  color: red;
}

.score {
  grid-area: score;
}

.play-c-img {
  background-image: url("play_middle-c_img.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-area: play-c-img;
}
.play-c-text {
  grid-area: play-c-text;
}

.play-random-note-img {
  background-image: url("play_random_note_img.png");
  background-repeat: no-repeat;
  background-position: center;
  grid-area: play-random-note-img;
}

.play-random-note-text {
  grid-area: play-random-note-text;
}

/* QUESTION PAGE - TOP GRID */
.play-c {
  grid-area: play-c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "play-c-img"
    "play-c-text";
}

.play-random-note {
  grid-area: play-random-note;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
  grid-template-areas:
    "play-random-note-img"
    "play-random-note-text";
}

.top-grid {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "play-c play-random-note";
}

/* QUESTION PAGE - BOTTOM GRID */

.instruction {
  grid-area: instruction;
  padding: 0;
  margin: 0;
}
.middle-c {
  grid-area: middle-c;
  justify-self: end;
}
.d {
  grid-area: d;
  justify-self: start;
}
.e {
  grid-area: e;
  justify-self: end;
}
.f {
  grid-area: f;
  justify-self: start;
}
.g {
  grid-area: g;
  justify-self: end;
}
.a {
  grid-area: a;
  justify-self: start;
}
.b {
  grid-area: b;
  justify-self: end;
}
.high-c {
  grid-area: high-c;
  justify-self: start;
}

.go-button {
  grid-area: go-button;
}

.bottom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px repeat(4, 40px) 50px;
  grid-template-areas:
    "instruction instruction"
    "middle-c d"
    "e f"
    "g a"
    "b high-c"
    "go-button go-button";
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.bottom-grid input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.bottom-grid label {
  display: inline-block;
  background-color: #f0f0f5;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  width: 100px;
  border-radius: 4px;
}
.bottom-grid input[type="radio"]:checked + label {
  background-color: #9ceade;
  border-color: #9ceade;
}

#check-answer {
  border: 1px solid #1b1c1c;
  background: none;
  height: 30px;
  width: 120px;
  border-radius: 12px;
  margin-top: 25px;
}

#check-answer:hover {
  background-color: #9ceade;
  color: #9ceade;
  background: none;
}
